<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
      color: #333;
    }

   .poem-container {
      text-align: center;
      margin-top: 10%;
      font-size: 24px;
    }

   .time-container {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 14px;
    }
    #currentTime {
      font-size: 20px;
      color: #1a1a1a;
    }
  </style>
</head>
<body>
  <div class="poem-container">
    <p><b>将进酒</b><br></p>
    <p>唐 · 李白 <br></p>
    <p>君不见黄河之水天上来，奔流到海不复回。</p>
    <p>君不见高堂明镜悲白发，朝如青丝暮成雪。</p>
    <p>人生得意须尽欢，莫使金樽空对月。      </p>
    <p>天生我材必有用，千金散尽还复来。      </p>
    <p>烹羊宰牛且为乐，会须一饮三百杯。      </p>
    <p>岑夫子，丹丘生，将进酒，杯莫停。      </p>
    <p>与君歌一曲，请君为我侧耳听。          </p>
    <p>钟鼓馔玉不足贵，但愿长醉不复醒。      </p>
    <p>古来圣贤皆寂寞，惟有饮者留其名。      </p>
    <p>陈王昔时宴平乐，斗酒十千恣欢谑。      </p>
    <p>主人何为言少钱，径须沽取对君酌。      </p>
    <p>五花马、千金裘，呼儿将出换美酒，与尔同销万古愁。</p>
  </div>
  <div class="time-container" id="currentTime"></div>

  <script>
    function updateTime() {
      var now = new Date();
      var timeString = now.toLocaleTimeString();
      var dateString = now.toLocaleDateString();
      document.getElementById("currentTime").innerHTML = dateString + " " + timeString;
    }
    setInterval(updateTime, 1000);
  </script>
</body>
</html>
